@model IEnumerable<WAD.WebApp._7458.DAL.DBO.Bike>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BikeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ModelYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BinaryPhoto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArrivedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsReturnable)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BikeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BinaryPhoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsReturnable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.CategoryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BikeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BikeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BikeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
